* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --bg-prime: #fff;
    --bg-second: #a1d5fd;
    --txt-prime: #000000;
    --btn-prime: rgb(9, 133, 100);
    --btn-second: rgb(133, 61, 9);
    --btn-active: rgb(142, 166, 234);

    --header-button-bg: #fff;

    --g-border-radius: 8px;
    --g-box-shadow: 0 0 2px 2px #ccc;
    --g-padding: 1rem;
}

.hidden {
    display: none;
}

body {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    background: #efefef;
    > * {
        /* border: 1px solid; */
        height: 95vh;
    }
}

button {
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
}

.main-header {
    --child-padding: 0.5rem;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .app-title {
        background-color: var(--bg-second);
        color: var(--txt-prime);
        padding: var(--g-padding);
        border-radius: var(--g-border-radius);
    }

    ul:not(:last-child), .project-wrapper {
        padding: var(--g-padding);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;
        border-radius: var(--g-border-radius);
        background-color: var(--bg-prime);
        box-shadow: var(--g-box-shadow);

        /* li {
            border: 1px solid;
        } */

        button {
            width: 100%;
            text-align: left;
            padding: 0.5em 1em;
            background-color: var(--header-button-bg);
            border: none;
        }

        button:hover {
            background-color: none;
        }
    }

    .project-wrapper {
        #create-project-form-button {
            background-color: var(--btn-prime);
            border-radius: 8px;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .project-container {
            height: 100%;
            list-style-type: none;
            .project {
                display: flex;
                justify-content: space-between;

                button {
                    background-color: inherit;
                }

                .delete-project-button {
                    width: fit-content;
                    color: var(--btn-second);
                }
            }

            .active {
                background-color: var(--btn-active);
            }
        }

        dialog {
            margin: auto;
            border: 1px solid #ccc;
            box-shadow: var(--g-box-shadow);
            padding: var(--g-padding);
            border-radius: var(--g-border-radius);

            input {
                padding: 0.5em;
            }

            label {
                width: 12ch;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }

            .create-project-button, .close-project-form-button {
                background-color: var(--btn-prime);
                border-radius: var(--g-border-radius);
                color: #fff;
                font-weight: bold;
                letter-spacing: 1px;
                text-align: center;
                margin-top: 1rem;
            }

            .close-project-form-button {
                background-color: var(--btn-second);
            }

        }
    }

}

main {
    flex-basis: 100%;
    border-radius: var(--g-border-radius);
    background-color: var(--bg-prime);
    box-shadow: var(--g-box-shadow);
    padding: var(--g-padding);

    .task-container {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .filter-buttons {
        .active {
            background-color: var(--btn-active);
        }
    }

    nav {
        /* Create task button */
        div:first-child {
            button {
                margin-bottom: 1rem;
                background-color: var(--btn-prime);
                border-radius: 8px;
                color: #fff;
                font-weight: bold;
                letter-spacing: 1px;
            }

            /* Create Task form */
            dialog {
                margin: auto;
                border: 1px solid #ccc;
                box-shadow: var(--g-box-shadow);
                padding: var(--g-padding);
                border-radius: var(--g-border-radius);
                
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    div {
                        display: flex;
                        align-items: start;
                        gap: 0.5em;

                        label {
                            width: 12ch;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                        }

                        :not(label[for="description-input"]) {
                            align-self: center;
                        }

                        input {
                            flex: 1;
                            padding: 0.5em;
                        }
                    }

                    textarea {
                        resize: none;
                        width: 25ch;
                        height: 7rem;
                        padding: 0.3em;
                    }

                    div:last-child {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        align-items: center;

                        button {
                            background-color: var(--btn-prime);
                            width: 100%;
                        }

                        button:last-child {
                            background-color: red;
                        }
                    }
                }
            }
        }

        div:last-child  { 
            button {
                background-color: #ccc;
            }

            > span {
                margin-right: 1rem;   
                font-size: 12px;
                text-transform: uppercase;
                font-family: arial;
                font-weight: bold;
            }
        }
    }
}

.task {
    --child-padding: 0.5rem;
    /* border: 1px solid blue; */
    width: 300px;
    border-radius: var(--g-border-radius);
    box-shadow: var(--g-box-shadow);
    position: relative;
    
    header {

        div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            background-color: #333;
            color: #fff;
            padding: 0.25rem var(--child-padding);
            border-top-left-radius: var(--g-border-radius);
            border-top-right-radius: var(--g-border-radius);
            
            div {
                display: flex;
                gap: 0.5rem;
                
                button {
                    padding: 0.5em;
                }
            }
        }
        
        div:last-child {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            padding: 0.25rem var(--child-padding);
        }

    }

    .show-description-button {
        width: 100%;
    }

    .description-containter {
        position: absolute;
        z-index: 1;
        background-color: var(--bg-prime);
        width: 100%;
        padding: var(--child-padding);
        border-radius: var(--g-border-radius);
        box-shadow: var(--g-box-shadow);
        top: 110%;
    }
}