* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.task {
    --child-padding: 0.5rem;
    border: 1px solid;
    width: 300px;
    margin: 2rem auto;
    position: relative;

    header {
        display: flex;
        flex-direction: column;

        div:first-child {
            display: flex;
            justify-content: space-between;
            background-color: purple;
            padding: var(--child-padding);
            font-size: 12px;
        }

        div:last-child {
            padding: var(--child-padding);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .option-button {
                padding: 0.5em;
            }
        }

    }

    .show-description-button {
        padding: 0 0.5em;
        position: absolute;
        left: 50%;
        bottom: -0.5rem;
        transform: translateX(-50%);
    }

    .description {
        display: none;
    }
}