* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --bg-prime: #fff;
    --bg-second: #a1d5fd;
    --txt-prime: #000000;

    --header-button-bg: #fff;

    --g-border-radius: 8px;
    --g-box-shadow: 0 0 2px 2px #ccc;
    --g-padding: 1rem;
}

body {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    background: #efefef;
    > * {
        /* border: 1px solid; */
        height: 95vh;
    }
}

button {
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
}

.main-header {
    --child-padding: 0.5rem;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .app-title {
        background-color: var(--bg-second);
        color: var(--txt-prime);
        padding: var(--g-padding);
        border-radius: var(--g-border-radius);
    }

    ul {
        padding: var(--g-padding);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;
        border-radius: var(--g-border-radius);
        background-color: var(--bg-prime);
        box-shadow: var(--g-box-shadow);

        /* li {
            border: 1px solid;
        } */

        button {
            width: 100%;
            text-align: left;
            padding: 0.5em 1em;
            background-color: var(--header-button-bg);
            border: none;
        }

        button:hover {
            background-color: none;
        }
    }

    ul:last-child {
        height: 100%;
    }

}

main {
    flex-basis: 100%;
    border-radius: var(--g-border-radius);
    background-color: var(--bg-prime);
    box-shadow: var(--g-box-shadow);
    padding: var(--g-padding);

    .task-container {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }
}

.task {
    --child-padding: 0.5rem;
    /* border: 1px solid blue; */
    width: 300px;
    border-radius: var(--g-border-radius);
    box-shadow: var(--g-box-shadow);
    
    header {

        div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            background-color: #333;
            color: #fff;
            padding: 0.25rem var(--child-padding);
            border-top-left-radius: var(--g-border-radius);
            border-top-right-radius: var(--g-border-radius);
            
            div {
                display: flex;
                gap: 0.5rem;
                
                button {
                    padding: 0.5em;
                }
            }
        }
        
        div:last-child {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            padding: 0.25rem var(--child-padding);
        }

    }

    .show-description-button {
        width: 100%;
    }

    .description-containter {
        display: none;
    }
}